<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!-- 
      EventLog Target Notes: 
        Changing the "log" requires a reboot of the system and will not work with NSB hosted services.
        Category is a 16 bit integer not a string.
        Source must be specified to get the correct name installed as an event source.
    -->
    <target name="eventLog" xsi:type="EventLog"
        source="MessageBusArchitectureExample.Service1"
        machineName="." />

    <target name="console" xsi:type="ColoredConsole" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Warn" writeTo="eventLog" />
  </rules>
</nlog>