<?xml version="1.0" encoding="utf-8" ?>
<UnicastBusConfig>
  <MessageEndpointMappings>
    <!-- Subscribe to Service1 event -->
    <add Assembly="MessageBusArchitectureExample.Service1.Messages" 
         Type="MessageBusArchitectureExample.Service1.Messages.Events.IFireAndForgetCommandReceivedEvent" 
         Endpoint="MessageBusArchitectureExample.Service1" />
  </MessageEndpointMappings>
</UnicastBusConfig>
