@model MessageBusArchitectureExample.Web.Models.FireAndForgetCommandViewModel

@{
    ViewBag.Title = "FireAndForgetCommand Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FireAndForgetCommand Sent</h2>

<p>
    A FireAndForgetCommand was sent to Service1 for EntityId '@Model.EntityId'.
</p>